<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Account{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  {% load staticfiles %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>


<!--==========================
Header Section
============================-->

<header id="header">

  <div class="container">

    <div id="logo" class="pull-left">
      <a href="{% url 'home' %}"><img class="nav-logo" src="{% static 'img/logo.png' %}" title="Logo"></img></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% if user.is_authenticated %}
            <li><a href="{% url 'games' %}">GAMES</a></li>
            <li><a href="{% url 'store' %}">BUY TOKENS</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
            <li><a href="{% url 'games' %}">GAMES</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'signup' %}">SIGN UP NOW!</a></li>
          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
  </div>
</header>

<div class="login_box">
  <h1>ACCOUNT SETTINGS</h1>
  <div class="login_container">
    <h2>USERNAME: <p>{{ profile.user }}</p></h2>
  </div>
  <div class="login_container">
    <h2>EMAIL: <p>{{ profile.user.email }}</p></h2>
    <h2>PASSWORD: <p>******</p> <a href="{% url 'reset_password' %}"><img class="edit-icon" src="{% static 'img/edit_icon.png' %}" title="EDIT"></a>  </h2>
  </div>
  <div class="login_container">
    <h2>PHONE NUMBER: <p>{{ profile.phone_number }}</p></h2>
  </div>
  <div class="login_container">
    <h2>BALANCE: <p>&#36;{{ profile.balance }}</p></h2>
    <h2>TOKENS: <p>{{ profile.tokens }}</p> <img src="{% static 'img/smallcoin.png' %}" title="coin"></img></h2>
  </div>

  <a class="payout" href="{% url 'withdraw' %}">WITHDRAW FROM BALANCE</a>
</div>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
<script src="{% static 'lib/easing/easing.js' %}"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>